# PLUGIN: https://github.com/luizm/asdf-shellcheck
# RELEASES: https://github.com/koalaman/shellcheck/releases
shellcheck 0.10.0

# PLUGIN: https://github.com/luizm/asdf-shfmt
# RELEASES: https://github.com/mvdan/sh/releases
shfmt 3.8.0
